
PORT = YOUR_PROT

DB_CONNECTION_URL = LINK_OF_YOUR_DB_CONNECTION

PROJECT_FOLDER = THE_NAME_OF_BASE_FOLDER_ON_CLOUDINARY

DEFAULT_SIGNATURE = DEFAULT_SIGNATURE_FOR_SIGNUP_TOKEN 

CONFIRMATION_EMAIL_TOKEN = CONFIRM_EMAIL_SIGNATURE_TOKEN

SALT_ROUNDS =NUMBER_OF_SALT_ROUNDS_OF_HASHING

SIGN_IN_TOKEN_SECRET =SIGNIN_SIGNATURE_TOKEN

RESET_TOKEN= RESET_PASSWORD_SIGNATURE_TOKEN

STRIPE_SECRET_KEY = YOUR_SECRET_KEY_IN_YOUR_PROFILE_ON_STRIPE_DASHBOARD

ORDER_TOKEN = ORDER_TOKEN_SIGNATURE_FOR_CHECKOUT_SESSION_PAYMENT

CLIENT_ID = YOUR_CLIENT_ID_THAT_YOU_HAVE_GENERATE_IT_FROM_YOUR_APP_ON_GOOGLE_CLOUD_SERVICES