/* Example adjustments in Home.css */
.home-container1 {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .home-container {
    flex: 1; /* Allow this container to expand to fill remaining vertical space */
    padding: 20px; /* Example padding */
    box-sizing: border-box;
  }
  
  .chatbutton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000; /* Ensure it's above other content */
  }
  